---
layout: default
---
<head>
<link rel="stylesheet" type="text/css" href="style.css" />
<head>
<div class="hero center">
      <img src="assets/img/hk@3x.png" />
      <h2>وب سایت شخصی مجید عابد</h2>
      <h4>توسعه دهنده و طراح وب سایت های شخصی و فروشگاهی</h4>
      <h6>
        <a href="/works">نمونه کار</a> -
        {% if site.twitter %}<a href="https://twitter.com/{{ site.twitter }}" target="_blank">توئیتر</a>{% endif %} -
        {% if site.github %}<a href="https://github.com/{{ site.github }}" target="_blank">گیت هاب</a>{% endif %}
      </h6>
    </div>